{:full-name "simpleui/anchor"
 :ns-name   "simpleui.anchor"
 :sanitized "simpleui/anchor"
 :name      "anchor"
 :modules   {:root         "modules"
             :repositories [{:url  "https://github.com/kit-clj/modules.git"
                             :tag  "master"
                             :name "kit-modules"}]}}
